<!DOCTYPE html>
<html ng-app="formwall" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FormWall</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular-route.min.js"></script>
    <script src="app/core/ui-utils-ieshiv.min.js"></script>
    <script src="app/core/ui-utils.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="app/css/site.css" rel="stylesheet" />
    <script src="app/core/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="app/core/app.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
</head>
<body>
    <nav role="navigation">
        <div class="container-fluid bg-default">
            <div class="row text-center">
                <div class="col-md-4">
                    FormWall
                </div>
                <div class="col-md-4">
                    <tabset class="center-block" type="pills">
                        <tab heading="Features"></tab>
                        <tab heading="Pricing"></tab>
                        <tab heading="Support"></tab>
                        <tab heading="About Us"></tab>
                    </tabset>
                </div>
                <div class="col-md-1 col-md-offset-1">
                    <button ng-click="login()" class="btn btn-primary">Log In</button>
                </div>
                <div class="col-md-1">
                    <button ng-click="register()" class="btn btn-success">Sign Up Free!</button>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </nav>
    <article ng-view ng-show="is_backend_ready">
        <h2>Uh-oh... Something didn't load right</h2>
        <p>We may be experiencing technical issues, please try reloading the page or come back later.</p>
    </article>
    <script src="app/services/authSvc.js"></script>
    <script src="app/controllers/homeCtrl.js"></script>
    <script src="app/controllers/seedCtrl.js"></script>
</body>
</html>
