<nav role="navigation">
    <div class="container-fluid bg-default">
        <div class="row text-center">
            <div class="col-md-4">
                FormWall
            </div>
            <div class="col-md-4">
                <tabset class="center-block" type="pills">
                    <tab heading="Features"></tab>
                    <tab heading="Pricing"></tab>
                    <tab heading="Support"></tab>
                    <tab heading="About Us"></tab>
                </tabset>
            </div>
            <div ng-if="!isAuthed()">
                <div class="col-md-1 col-md-offset-1">
                    <button ng-click="login()" class="btn btn-primary">Log In</button>
                </div>
                <div class="col-md-1">
                    <button ng-click="login()" class="btn btn-success">Sign Up Free!</button>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="col-md-offset-1" ng-if="isAuthed()">
                <div class="col-md-1">
                    Welcome {{ getUser().given_name || getUser().email }}!
                </div>
                <div class="col-md-1">
                    <button ng-click="signOut()" class="btn btn-error">Log Out</button>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</nav>