<nav role="navigation">
    <div class="container-fluid bg-default">
        <div class="row text-center">
            <a ng-href="/">
                <div class="col-md-2">
                    FormWall
                </div>
            </a>
            <div ng-if="!isAuthed()">
                <div class="col-md-6">
                    <tabset justified="true" class="center-block" type="pills">
                        <tab heading="Features"></tab>
                        <tab heading="Pricing"></tab>
                        <tab heading="Support"></tab>
                        <tab heading="About Us"></tab>
                    </tabset>
                </div>
                <div class="col-md-1 col-md-offset-1">
                    <button ng-click="login()" class="btn btn-primary">Log In</button>
                </div>
                <div class="col-md-1">
                    <button ng-click="login()" class="btn btn-success">Sign Up Free!</button>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div ng-if="isAuthed()">
                <div class="col-md-4 col-md-offset-1">
                    <tabset justified ="true" type="pills">
                        <tab heading="Dashboard"></tab>
                        <tab heading="Dashboard"></tab>
                        <tab heading="Support"></tab>
                    </tabset>
                </div>
                <div class="col-md-2">
                    <a href="#/formbuilder">
                        <button class="btn btn-success">Create Form</button>
                    </a>
                </div>
                <div class="col-md-offset-1 col-md-1">
                    Welcome {{ getUser().given_name || getUser().email }}!
                </div>
                <div class="col-md-1">
                    <button ng-click="signOut()" class="btn btn-error">Log Out</button>
                </div>
            </div>
        </div>
    </div>
</nav>