<div class="pull-left formEditor">
    <h2>{{form.title}}</h2>
    <div ng-repeat="field in form.fields">
        <input type="text" ng-model="field.label" placeholder="Label" />
        <input type="{{field.type}}" ng-model="field.placeholder" placeholder="Placeholder" />
        <select ng-model="field.type" ng-options="fieldType for fieldType in form.availableFieldTypes"></select>
        <label>Required?</label><input type="checkbox" ng-model="field.required" />
    </div>
    <button ng-click="addField()">Add a Field</button>
    <div>
        <label>Button Text</label>
        <input type="text" ng-model="form.btnText" />
    </div>
</div>
<div class="pull-left">
    <h4>This form is for preview purposes only.</h4>
    <p>        
        Clicking the "{{form.btnText || "Submit"}}" button will not have any effect or save any data. 
        
        Other fields will display the same behavior and constraints as they will in the production version of the form.
    </p>
    <hr />
    <form-display></form-display>
</div>